Repository aofiee/Hugeman: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-sec, dependency-check

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: go-sec
    name: go security check
    entry: gosec ./...
    language: system
    pass_filenames: false
    # files: .*\.go
    files: ^cmd/api/.*\.go$

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
    - id: go-fmt
    # - id: go-vet
    - id: go-lint
    - id: go-imports
    - id: go-cyclo
    - id: validate-toml
    - id: no-go-testing
    - id: golangci-lint
    - id: go-critic
    - id: go-unit-tests
    - id: go-build
    - id: go-mod-tidy

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: check-yaml
  - id: check-merge-conflict
  - id: end-of-file-fixer
    files: cmd/

- repo: local
  hooks:
  - id: dependency-check
    name: OWASP Dependency Check
    entry: dependency-check --out cmd/ --scan cmd/ --project $(basename $PWD)/cmd --enableExperimental --failOnCVSS 0 --suppression cmd/dependency-suppressions.xml
    pass_filenames: false
    language: system
    files: .*\.mod$

- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.42.1
  hooks:
    - id: commitizen
      stages: [commit-msg]

- repo: https://github.com/milin/giticket
  rev: v1.4
  hooks:
  - id:  giticket
    args: ['--regex=[A-Z]{2,4}-[0-9]+', '--format={ticket} {commit_msg}', '--mode=regex_match']

feat: add docker-compose.yml and configs
  .air.toml
  .env
  .gitignore
  README.md
  api
  build/Dockerfile.local
  cmd/api/main.go
  configs/config.go
  configs/config.yml
  docker-compose.yml
  go.mod
  go.sum
  pkg/database_driver/gorm/postgres.go
  pkg/validator/validator.go
  protocal/http.go
  tmp/app/engine
Due: go-sec, dependency-check

feat: add ports and adapters architecture
  .env
  cmd/api/main.go
  docker-compose.yml
  go.mod
  internal/core/domain/gorm.go
  internal/core/domain/request.go
  internal/core/domain/response.go
  internal/core/ports/repository.go
  internal/core/ports/service.go
  internal/handlers/handler.go
  internal/repositories/postgres.go
  internal/services/service.go
  protocal/http.go
  tmp/app/engine
  tmp/build-errors.log
Due: go-sec, dependency-check

feat: add request and response domain
  .gitignore
  internal/core/domain/request.go
  internal/core/domain/response.go
  tmp/build-errors.log
Due: none

feat: add func for repositories and service
  internal/core/ports/repository.go
  internal/core/ports/service.go
  internal/handlers/handler.go
  internal/repositories/postgres.go
  internal/services/service.go
  protocal/http.go
Due: none

feat: implement handlers
  internal/handlers/handler.go
Due: none

feat: implement service
  internal/services/service.go
Due: none

feat: CreateTodo repository and hook UUID
  internal/core/domain/gorm.go
  internal/core/domain/hook.go
  internal/core/domain/request.go
  internal/core/domain/response.go
  internal/repositories/postgres.go
Due: none

feat: update postgres repository
  internal/core/domain/request.go
  internal/core/domain/response.go
  internal/repositories/postgres.go
Due: none

feat: delete todo repository
  internal/handlers/handler.go
  internal/repositories/postgres.go
Due: none

feat: get todo repository
  internal/core/domain/request.go
  internal/repositories/postgres.go
  internal/services/service.go
Due: none

feat: add swagger
  cmd/api/main.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  go.mod
  go.sum
  internal/handlers/handler.go
  protocal/http.go
Due: go-sec, dependency-check

feat: add unit test
  Makefile
  README.md
  go.mod
  go.sum
  internal/handlers/handler_test.go
  internal/services/service.go
  internal/services/service_test.go
  pkg/testings/mock_repository/mockrepository.go
  pkg/testings/mock_service/mockservice.go
  postman/Todo.postman_collection.json
Due: dependency-check

chore: update README.md
  README.md
Due: none
